
@import'../../scss/constant.scss';
@import'../../scss/color.scss';
.heading
{ font-size:$_inputbox_font_size;
    color:$_input_font_color;
    font-family:$font_family;
    font-weight:$_heading_font_weight;
   }

.main-div
{
    padding:1%;
}

.input
{
    color: $_input_font_color;
    font-size: 12px;
    font-family:$font_family;;
    min-width:inherit;
    width: -webkit-fill-available;
    overflow: auto;
min-height: 12px;
padding: 3px;
outline: none;
   
}
.cancel
{
    color:#C0C0C0;
}
.save
{
    color:#C0C0C0;
    padding-left:3%;
    padding-right:3%; 
    background-color:$background_color;  
}
:host::ng-deep .mat-stroked-button {
    border: 1px solid #707070;
    padding: 0 15px;
    line-height: 26px;
}
.file-icon
{
    font-size: 20px;
    color: $_input_font_color;

}
.share{
    background-color:#F5F5F5; 
    border-radius: 12px;
    height: 24px;
}
.share-icon
{
    font-size: $_inputbox_font_size;
   text-align:center;
    color:$_input_font_color;
    margin-top:2px;
    margin-bottom: -4px;
}
.tech
{
    font-size:$_inputbox_font_size;
    color:#40494D;
    font-family:$font_family;
    font-weight:$_heading_font_weight;
}
.header-sr
{
    border:1px solid #C0C0C0;
    background-color: #F8F9FA;
    color:$header_font_color;
    font-size:12px;
    font-weight: $_heading_font_weight;
   
    font-family:$font_family;
}

.header
{
    border:1px solid #C0C0C0;
    background-color: #F8F9FA;
    color:$header_font_color;
    font-size:12px;
    position: relative;
    font-weight: $_heading_font_weight;
    font-family:$font_family;
    height: 23px;
//    padding:2px;
  display: flex;
  justify-content: center;
    min-width:160px;
//    padding-left: 1%;
  
}
.srno{
    border:1px solid #C0C0C0;
    background-color:$background_color;
    color:$_input_font_color;
    font-size:12px;
  
    font-family:$font_family;
}
.Dropdown{
    text-align: center;
    font-size: 12px;
    font-family:$font_family;
    padding-top: 3px;
    color: #40494D;
   
}
.autocomplete
{    width: 96%;
    outline: none;
    border: none;
    
    margin-left: 4px;
    color: #40494D;
    font-size: 12px;
    font-family:$font_family;
}
:host::ng-deep .mat-select-value {
    color: #40494D;
}
.row
{
    border:0.2px solid #C0C0C0;
    border-top: 0px;
    min-width:160px;
    
    //width:15px;
}
:host::ng-deep .mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 27px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0,0,0);
}
.count
{
    border: 1px solid #707070;
    width: 4%;
}
.num-input
{
    width: 62%;
outline:none;
border:none;
color:$_input_font_color;
font-size: $_inputbox_font_size;
}
.more-rows{
    font-size: $_inputbox_font_size;
    font-family: lato;
    color: $_input_font_color;
}
:host::ng-deep .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    min-width: 64px;
    color: #40494D;
    line-height: 28px;
    padding: 0 16px;
    border-radius: 4px;
}
.add-button
{
    background-color:$button_font_color;
    font-size: $_inputbox_font_size;
    color:$_input_font_color;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  
    }
    
    ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
    }
        .scroll-div
    {
        overflow-y:scroll; 
        max-height: 470px; 
        margin-right: 40px;
        width:100%;
    }

    @media screen and (min-height: 1080px) {
        .scroll-div {
            max-height: 810px;
        }
    }
// .dropdown
// {
//     color: rgba(0,0,0,.87);
//     font-size: 12px;
// }
   