<div fxLayout="column" class="main-div" fxLayoutGap="1%">
    <div fxLayout="column" fxLayoutGap="5%">
<div  fxLayout="column">
    <div class="heading">Project1</div>
    <div  fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1%">
      <button mat-button disabled class="cancel">Cancel</button>
      <button mat-stroked-button disabled class="save">Save</button>
    </div>
    <div  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1%">
        <mat-icon class="file-icon">description</mat-icon>
        <div class="tech">Tech Req.Sheet1</div>
       <div class="share" fxLayoutAlign="end end">
           <mat-icon class="share-icon" >share</mat-icon>
        </div>
    </div>
</div>

<div fxLayout="column" style="overflow-y:scroll;height: 222px; margin-right: 40px;width:100%">
   
    <div fxLayout="row" fxFlex="100%"  style="width:fit-content">
        <div  class="header-sr" fxLayoutAlign="center center">Sr</div>
        <div class="header" *ngFor="let head of headers,let j=index">
        <div fxLayoutAlign="center center">Header{{j+1}}</div>
    </div>
      
                </div>
                <div fxLayout="row" *ngFor="let i of num,let j=index" fxFlex="100%" style="width:fit-content" >
                        <div  class="srno" fxLayoutAlign="center center">{{j+1}}</div>
                        <div  class="row" *ngFor="let row of rows">
                        <div><input class="input"></div>
                    </div>
                       
                       </div>
                 
    </div>
</div>

<div fxLayout="row" fxLayoutGap="1%">
    <button mat-button (click)="addRows(arrayLength)" class="add-button">Add</button>
    <div fxLayoutAlign="center center" class="count"><input class="num-input" [(ngModel)]="arrayLength" required>
        
</div>
    <div fxLayoutAlign="center center" class="more-rows">More rows on button</div>
</div>
</div>





  
  