
<div fxLayout="column" class="main-div" fxLayoutGap="1%">
    <div fxLayout="column" fxLayoutGap="5%">
        <div fxLayout="column">
            <div class="heading">Project1</div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1%">
                <button mat-button disabled class="cancel">Cancel</button>
                <button mat-stroked-button disabled class="save">Save</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1%">
                <mat-icon class="file-icon">description</mat-icon>
                <div class="tech">Tech Req.Sheet1</div>
                <div class="share" fxLayoutAlign="end end">
                    <mat-icon class="share-icon">share</mat-icon>
                </div>
            </div>
        </div>
        
        <div fxLayout="column" class="scroll-div">

            <div fxLayout="row" fxFlex="100" style="position: sticky;top: 0;z-index:1;
            min-width: fit-content;">
                <div fxFlex="20px" class="header-sr" fxLayoutAlign="center center"style="position: sticky;top: 0;z-index:1;">Sr</div>
                <div fxFlex class="header" *ngFor="let head of headersData,let j=index">
                    <div fxLayoutAlign="center center"> {{head.name}}
                    </div>
                    <!-- <div >Header{{j+1}}</div> -->
                </div>

            </div>
            <div fxLayout="row" *ngFor="let item of num,let j=index" fxFlex="100">
               
                <div fxFlex="20px" class="srno" fxLayoutAlign="center center" style="position: sticky;left: 0;z-index:1;">{{j+1}}</div>
                <div class="row" fxFlex *ngFor="let rows of rowsData;let i = index">
                        <div class="Dropdown" *ngIf="rows.isEnum==true">
                                
                           <app-mat-select [selectedValue]=item[headersData[i].name] [rows]="rows"></app-mat-select>
                    </div>
                    <div *ngIf="rows.allowSuggestion==true" >
 
                      <app-mat-autocomplete [selectedValue]=item[headersData[i].name]></app-mat-autocomplete>
                      
                    </div>
                    <div *ngIf="rows.allowSuggestion==false && rows.isEnum==false">
                        <!-- <div class="input" type="text" contentEditable ></div>     -->
                      <app-viewsheet-textarea [textMessage]=item[headersData[i].name]></app-viewsheet-textarea>
                    </div>
            </div>
        </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="1%">
        <button mat-button (click)="addRows(arrayLength)" class="add-button">Add</button>
        <div fxLayoutAlign="center center" class="count"><input class="num-input" [(ngModel)]="arrayLength" required>
        </div>
        <div fxLayoutAlign="center center" class="more-rows">More rows on button</div>
    </div>
</div>