@import '../../scss/constant.scss';
@import '../../scss/color.scss';

.mainDiv{
    
        background-color: #f5f5f5;
        width:250px;
        height:83px;

}

.nameInput
{
    font-family: $font_family;
    font-size:$_heading_font_size;
    color: $_input_font_color;
    padding-left: 10px;
}

.image{
    padding-left: 81px;
    padding-top: 2px;

}

.demo{
padding-left: 10px;
color: gray;
font-size: 17px;
}

.mat-icon {
    color: #ACADAD;
    height: 24px;
    width: 24px;
    font-size: 18px;
}

