<div fxLayout="row wrap" fxLayoutAlign="start center">
  <div *ngFor="let items of sheets">
    <div fxLayout="row" class="mainDiv">
      <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutAlign="space-evenly"  >
      <div class="nameInput"> {{items.sheetName}}</div>


      <div fxLayout="row" fxLayoutAlign="end">
        <img src="../../../assets/images/roundmore.svg" class="image">
      </div>
    </div>
    <div fxLayout="row" >
    <div  class="mat-icon"><mat-icon>add</mat-icon></div>
    <div> Add </div>
  </div>
  </div>
     

    </div>
    
  </div>
  
</div>