<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="50px">
  <div *ngIf="!popup1">
    <div fxLayout="row" fxLayoutAlign="start center" class="mainDiv">

      <a *ngIf="!popup" (click)="onPopup()" class="margin">
        <mat-icon matPrefix class="icon">add</mat-icon> &nbsp;
        Add fundooSheet
      </a>

      <div *ngIf="popup">
        <!-- <div *ngFor="let tem of c"> -->
        <div fxLayout="row" fxLayoutAlign="center center">
          <a class=mainDiv3>
            <div fxLayout="row" fxLayoutAlign="center center">
              <input matInput type="text" placeholder=" Enter sheet name" class="input" style=" font-size: 14px;" />

            </div>

            <div fxLayout="row" fxLayoutAlign="center center">
              <input matInput type="text" placeholder=" Description" class="input1" style=" font-size: 14px;" />
            </div>

            <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px" class="spacing">
              <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-button class="button-cancel">Cancel</button>
              </div>

              <div *ngIf="!popup1" (click)="onPopup1()">
                <button mat-raised-button color="primary" class="button-add">Add</button>
              </div>
            </div>
          </a>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <div *ngIf="popup1">

    <!-- here new componenet merging-->
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div *ngFor="let items of sheets">
        <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20px" class="mainDiv1">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="nameInput"> {{items.sheetName}}</div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="maticon3">

              <mat-icon matSuffix class="maticon2">more_horiz</mat-icon>

            </div>
          </div>
          <div fxLayout="row" *ngIf="!popup3" (click)="onPopup3()">
            <div class="maticon1">
              <mat-icon>add</mat-icon>
            </div>
            <div class="text"> Add Header </div>
          </div>

          <div *ngIf="popup3">
            <div fxLayout="row" fxLayoutAlign="space-between" class="bgcolor">
              <input matInput type="text" placeholder="  Enter header1" class="input" style=" font-size: 14px;" />
              <mat-icon matSuffix class="maticon2" (click)="openDialogue()">more_horiz</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px" class="addProjectButton">
              <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-button class="button-cancel">Cancel</button>
              </div>

              <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" class="button-add">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end of show - sheet-->
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="mainDiv" *ngIf="popup" (click)="onPopup()">
    <div fxLayout="column" fxLayoutAlign="start start">

      <a class="margin">
        <mat-icon class="icon">add</mat-icon>&nbsp;
        Add fundooSheet
      </a>
    </div>
  </div>
</div>