<div fxFill fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="card">

            <div>
                <span>Header Validation</span>
            </div>

            <div>
                <button mat-icon-button matTooltip="close">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="200px">
            <div>
                <span class="text">Type: </span>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>

                    <mat-select>
                        <mat-option value="option">Option1</mat-option>
                        <mat-option value="option">Option2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="183px">
            <div>
                <span class="text">Format: </span>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>

                    <mat-select>
                        <mat-option value="option">Option1</mat-option>
                        <mat-option value="option">Option2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="105px">
            <div>
                <span class="text">Allow suggestions: </span>
            </div>
            <mat-checkbox><span class="text1">Yes</span></mat-checkbox>
            <mat-checkbox><span class="text1">No</span></mat-checkbox>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="115px" class="spacing1">
            <div>
                <span class="text">Required: </span>
            </div>
            <div class="margin" fxLayoutGap="104px">
                <mat-checkbox><span class="text1">Yes</span></mat-checkbox>
                <mat-checkbox><span class="text1">No</span></mat-checkbox>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="30px" class="spacing">
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-button>Cancel</button>
            </div>

            <div>
                <button mat-raised-button color="primary" routerLink='/dashboard'>Save</button>
            </div>
        </div>

    </mat-card>
</div>