@import '../../scss/constant.scss';
@import '../../scss/color.scss';

.name
{
    height: 40px;
    margin-bottom: 43px;
}

.mat-form-field 
{
    width: 421px;
}


input.mat-input-element 
{
    font-size: $_inputbox_font_size;
    font-family: $font_family;
    color: $_input_font_color;
}

textarea.mat-input-element
{ 
    font-size: $_inputbox_font_size;
    font-family: $font_family;
    color: $_input_font_color;
    height: 70px;
}

.mat-raised-button {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    min-width: 143px;
    min-height: 46px;
    border-radius: 4px;
    overflow: visible;
    font-family: $font_family;
    background-color:  $primary_color;
    transition: all .2s ease-in-out; 
}
     
.mat-raised-button:hover 
{ 
    transform: scale(1.1); 
}

.mat-button{
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    min-width: 143px;
    min-height: 46px;
    border-radius: 4px;
    overflow: visible;
    font-family: $font_family;
    margin-left: 134px;
    transition: all .2s ease-in-out;
}

.mat-button:hover 
{ 
    transform: scale(1.1); 
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color:  $primary_color !important;
}

.mat-error {
    display: inline-grid;
}

